@use './../abstracts/' as *;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-bottom: 10vh;
	color: $clr-white;
	background: linear-gradient(180deg, #2B0C52 0%, #7C7484 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%;
}

button,
button:focus,
button:hover {
	outline: none;
	border: none;
}

.title {
	margin: 5rem 0;
	letter-spacing: .25em;

	@include breakpoint-down('small') {
		margin: 3.5vh 0 1rem 0;
	}
}

.text-center {
	text-align: center;
}