@use './../abstracts/' as *;

.guess {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 .75em;
}

.letter {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: .1em;
	width: 1em;
	height: 1.2em;
	font-size: 3rem;
	transition: color 100ms ease;

	&.appear {
		animation-name: flash;
		animation-timing-function: ease;
		animation-duration: 750ms;
		animation-iteration-count: 2;
	}

	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: .1em;
		background: $clr-white;
	}
}

@keyframes flash {
	from {
		color: transparent;
	}
	to {
		color: inherit;
	}
}
